* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #222;
}

/* Header */

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    color: white;
}

.logo {
     font-family: 'Cormorant Garamond', serif;

    font-size: 28px;

    font-weight: 700;

    color: #d4af37;

    text-shadow: 2px 3px 8px rgba(0,0,0,0.5);

    letter-spacing: 1px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 15px;
}


/* Hero */

.hero {

    height: 75vh;

    background-image: url("images/hero.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.hero:before {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.45);

}


.hero-content {

    position: relative;

    color: white;

    text-align: center;

    max-width: 800px;

}


.hero-content h1 {

       font-family: 'Cormorant Garamond', serif;

    font-size: 85px;

    color: #d4af37;

    text-shadow:
    0 0 10px rgba(212,175,55,0.6),
    3px 4px 12px rgba(0,0,0,0.7);

    letter-spacing: 3px;

    font-weight: 700;

}


.hero-content h2 {

     font-family: 'Cormorant Garamond', serif;

    font-size: 55px;

    color:#f2f7f6;

    margin-bottom: 25px;

    letter-spacing: 1px;

}


.hero-content p {

    margin-top: 20px;

    font-size: 18px;

}



/* About */

.about {

    padding: 70px 15%;

    text-align: center;

}


.about h2,
.celebrations h2 {

    font-family: 'Cormorant Garamond', serif;

    font-size: 45px;

    margin-bottom: 20px;

}



/* Cards */

.celebrations {

    padding: 70px 8%;

    text-align: center;

}

.cards {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

}


.card {

    height: 600px;

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 15px;

    background-size: cover;

    background-position: center;

    position: relative;

    overflow: hidden;

    transition: transform 0.4s ease;

}


.card:before {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.45);

}


.card h3 {

    position: relative;

    z-index: 2;

    font-family: 'Cormorant Garamond', serif;

    font-size: 38px;

}


.card:hover {

    transform: translateY(-10px) scale(1.03);

    box-shadow: 0 20px 40px rgba(0,0,0,0.25);

}


/* Card Images */

.wedding {

    background-image: url("images/wedding.jpg");

}


.haldi {

    background-image: url("images/haldi.jpg");

}


.birthday {

    background-image: url("images/birthday.jpg");

}


.social {

    background-image: url("images/social.jpg");

}

/* WhatsApp */

.whatsapp {

    position: fixed;

    bottom: 25px;

    right: 25px;

    background: #25D366;

    color:white;

    padding:15px 25px;

    border-radius:40px;

    text-decoration:none;

    font-weight:bold;

}


/* Mobile */

@media(max-width:768px){

header {

flex-direction:column;

}

nav {

margin-top:20px;

}

.cards {

grid-template-columns:1fr;

}

.hero-content h1 {

font-size:45px;

}

}


/* Luxury Title Animation */

.hero-content h1 {

    animation: revealTitle 4s ease forwards;

      animation-delay: 2s;

}


@keyframes revealTitle {

    from {

        opacity: 0;

        transform: translateY(30px);

        filter: blur(8px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

        filter: blur(0);

    }

}
