* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #222;
}

/* Header */

header {

    position: fixed;
    top:0;
    width:100%;
    padding:20px 7%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    z-index:1000;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

}

.logo {
     font-family: 'Cormorant Garamond', serif;

    font-size: 28px;

    font-weight: 700;

    color: white;

    text-shadow: 2px 3px 8px rgba(0,0,0,0.5);

    letter-spacing: 1px;
}

.logo {
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
}

.logo {
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img {
    width:35px;
    height:35px;
    object-fit:contain;
}

nav a {
    color: #222;
    text-decoration: none;
    margin-left: 35px;
    font-size: 25px;
}

body {
    padding-top:90px;
}


/* Hero */

.hero {

    height: 75vh;

    background-image: url("images/hero.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.hero:before {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.45);

}


.hero-content {

    position: relative;

    color: white;

    text-align: center;

    max-width: 800px;

}


.hero-content h1 {

       font-family: 'Cormorant Garamond', serif;

    font-size: 85px;

    color: #d4af37;

    text-shadow:
    0 0 10px rgba(212,175,55,0.6),
    3px 4px 12px rgba(0,0,0,0.7);

    letter-spacing: 3px;

    font-weight: 700;

}


.hero-content h2 {

     font-family: 'Cormorant Garamond', serif;

    font-size: 55px;

    color:#f2f7f6;

    margin-bottom: 25px;

    letter-spacing: 1px;

}


.hero-content p {

    margin-top: 20px;

    font-size: 18px;

}



/* About */

.about {

    padding: 70px 15%;

    text-align: center;

}


.about h2,
.celebrations h2 {

    font-family: 'Cormorant Garamond', serif;

    font-size: 45px;

    margin-bottom: 20px;

}


.about p {

    font-family:'Cormorant Garamond', sans-serif;
    font-size:25px;
    line-height:1.8;
    color:#555;

}



/* Cards */

.celebrations {

    padding: 70px 8%;

    text-align: center;

}

.cards {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

}


.card {

    height: 600px;

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 15px;

    background-size: cover;

    background-position: center;

    position: relative;

    overflow: hidden;

    transition: transform 0.4s ease;

}


.card:before {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.45);

}


.card h3 {

    position: relative;

    z-index: 2;

    font-family: 'Cormorant Garamond', serif;

    font-size: 38px;

}


.card:hover {

    transform: translateY(-10px) scale(1.03);

    box-shadow: 0 20px 40px rgba(0,0,0,0.25);

}


/* Card Images */

.wedding {

    background-image: url("images/wedding.jpg");

}


.haldi {

    background-image: url("images/haldi.jpg");

}


.birthday {

    background-image: url("images/birthday.jpg");

}


.social {

    background-image: url("images/social.jpg");

}

/* Amenities */

.amenities {

    padding: 80px 8%;
    text-align: center;
    background: #faf7f2;

}


.amenities h2 {

    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    margin-bottom: 50px;

}


.amenity-grid {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;

}


.amenity {

    background: white;
    padding: 40px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);

    transition: all 0.4s ease;

}


.amenity img {

    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 20px;

}


.amenity h3 {

    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-weight: 600;

}


.amenity:hover {

    transform: translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,0.15);

}

/* Why Aadvan */

.why-aadvan {

    padding:80px 10%;
    text-align:center;
    background:white;

}


.why-aadvan h2 {

    font-family:'Cormorant Garamond', serif;
    font-size:45px;
    margin-bottom:60px;
    position:relative;

}


.why-aadvan h2:after {

    content:"";
    width:80px;
    height:3px;
    background:#d4af37;
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);

}


.why-container {

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    text-align:left;

}


.why-item {

    margin-bottom:40px;

}


.why-item h3 {

    font-family:'Cormorant Garamond', serif;
    font-size:30px;
    color:#222;
    margin-bottom:10px;

}


.why-item p {

    font-family:'Montserrat', sans-serif;
    font-size:15px;
    line-height:1.7;
    color:#555;

}

/* Luxury Gallery */

.luxury-gallery {

    padding:90px 8%;
    text-align:center;
    background:#faf7f2;

}


.luxury-gallery h2 {

    font-family:'Cormorant Garamond', serif;
    font-size:50px;
    margin-bottom:15px;
    color:#222;

}


.luxury-gallery p {

    font-family:'Montserrat', sans-serif;
    font-size:16px;
    color:#555;
    margin-bottom:50px;

}


.gallery-frame {

    width:85%;
    height:600px;
    margin:auto;
    padding:12px;
    border:6px solid #d4af37;
    border-radius:20px;
    background:white;
    box-shadow:0 20px 50px rgba(0,0,0,0.15);

}


.gallery-frame img {

    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:12px;
    opacity:1;
    transition: opacity 1.5s ease, transform 4s ease;

}

.gallery-frame img.zoom {

    transform:scale(1.00);

}



/* WhatsApp */

.whatsapp {

    position: fixed;

    bottom: 25px;

    right: 25px;

    background: #25D366;

    color:white;

    padding:15px 25px;

    border-radius:40px;

    text-decoration:none;

    font-weight:bold;

}


/* Mobile */

@media(max-width:768px){

header {

flex-direction:column;

}

nav {

margin-top:20px;

}

.cards {

grid-template-columns:1fr;

}

.hero-content h1 {

font-size:45px;

}
    .why-container {

grid-template-columns:1fr;

}

}

/* Location */

.location {

    display:grid;
    grid-template-columns:1fr 2fr;
    gap:40px;
    padding:80px 8%;
    background:#faf7f2;
    align-items:center;

}


.location-info h2 {

    font-family:'Cormorant Garamond', serif;
    font-size:45px;
    margin-bottom:25px;

}


.location-info p {

    font-family:'Montserrat', sans-serif;
    font-size:16px;
    line-height:1.8;
    color:#555;
    margin-bottom:20px;

}


.map iframe {
    width:100%;
    height:400px;
    border-radius:15px;
    display:block;
}


@media(max-width:768px){

.location {

grid-template-columns:1fr;

}

}


/* Luxury Title Animation */

.hero-content h1 {

    animation: revealTitle 4s ease forwards;


}


@keyframes revealTitle {

    from {

        opacity: 0;

        transform: translateY(30px);

        filter: blur(8px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

        filter: blur(0);

    }

}

/* Footer */

footer {

    background:#1c1c1c;
    color:white;
    padding:60px 8% 20px;

}


.footer-content {

    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:50px;

}


footer h3 {

    font-family:'Cormorant Garamond', serif;
    font-size:35px;
    color:#d4af37;
    margin-bottom:15px;

}


footer h4 {

    font-family:'Montserrat', sans-serif;
    margin-bottom:15px;

}


footer p,
footer a {

    font-family:'Montserrat', sans-serif;
    color:#ccc;
    font-size:14px;
    line-height:1.8;
    text-decoration:none;

}


.footer-bottom {

    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #444;
    text-align:center;
    font-size:13px;
    color:#aaa;

}


@media(max-width:768px){

.footer-content {

grid-template-columns:1fr;

}

}

/* About Page */

.about-story{

    padding:90px 15%;
    text-align:center;
    background:white;

}

.about-story h2{

    font-family:'Cormorant Garamond', serif;
    font-size:50px;
    margin-bottom:40px;

}

.about-story p{

    font-family:'Cormorant Garamond', serif;
    font-size:24px;
    line-height:1.9;
    color:#555;
    margin-bottom:30px;

}
